* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1;
  /* background: #F0F1F6; */
}

input {
  padding: 0;
  border: none;
  outline: none;
  background: none;
}

img {
  border: 0;
  vertical-align: top;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.clearfix:after {
  display: block;
  content: "";
  clear: both;
}
